:root {
    --black: #19191c;
    --blueAlternative: #270bc4;
    --blueDark: #002333;
    --green: #31fb84;
    --neutroText: #8894ab;
    --white: #ffffff;
    --whiteOff: #f4f4f4;
    --blueclaro: #F5F8FA;
    --blueoscuro: #CBD6E2;
    --pearl: #F2F2F2;
}

.Login-Screen {
    height: 100vh;
}

.login {
    background-color: var(--blueDark);
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container {
    padding-bottom: 0px!important;
    padding-top: 0px!important;
    align-self: center;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
    background-color: transparent !important;
}

.eyePassword {
    position: absolute;
    width: 50px;
    height: 36px;
    right: 0;
    top: 63px;
}

.eyePassword img {
    width: 25px;
}


.xln_content_login {
    width: 70%;
    margin: auto;
}

.xln__left__col {
    padding: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.login__container-content {
    width: 100%;
    background: #f4f4f4;
    padding: 50px;
}

.login__container {
    display: flex;
    background-color: var(--white);
    width: 60%;
    position: relative;
    top: 10%;
    margin: auto;

}

.login__content-inputs {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--whiteOff);
    height: 450px; */
}

.login__content-header {
    text-align: center;
    padding-bottom: 10px;

}

.login__content-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login__register {
    border-top: 1px solid var(--black);
    position: relative;
    top: 10%;
}

.login__register-button {
    text-decoration: none;
    border: none;
    background-color: transparent;
    color: var(--blueDark);
    font-weight: bold;
    text-align: center;
    width: 100% !important;
    margin: 0 auto;
    display: inline-block;
    margin-top: 44px;
}

.login__register-button:hover {
    color: #000;
}

.login__button-entrar {
    border-radius: 5px;
    background-color: var(--green);
    text-decoration: none;
    border: none;
    padding: 5px;
    width: 100%;
    position: relative;

    color: var(--blueDark);
    font-weight: bold;
    text-align: center;
    margin-top: 15%;
}

.login__button-entrar:hover {
    color: var(--white);
}

.login__email {
    border: none;
    text-decoration: none;
    border-radius: 5px;
    position: relative;
    width: 100%;
    padding: 10px;
    margin: auto;
}

.recuperarcontrasena .login__email,
.login__password {
    left: 0px;
}

.recuperarcontrasena .login__button-entrar {
    left: 0;
}

.login__password {
    border: none;
    text-decoration: none;
    border-radius: 5px;
    position: relative;
    width: 100%;
    padding: 10px;
    margin: auto;
    top: 10px;
}

.login__content-title {
    color: var(--blueDark);
    font-weight: bold;
    position: relative;
    bottom: 50px;
}

.login__content-remind {
    display: flex;
    position: relative;
    column-gap: 6rem;
    left: 52px;
    font-size: 12px;
}

.login__input-reminder {
    position: relative;
    top: 0px;
    left: 0px;
}

.login__remind-button {
    border: none;
    /* background-color: var(--whiteOff); */
    background-color: #fff0;
    padding: 0;
    position: relative;
    bottom: 0px;
    width: 100%;
    text-align: right;
}

/* .login__header-logo-title {
    margin-top: 20px;
} */

.login__header-logo-title p {
    font-size: 18px;
    color: var(--blueDark);
    padding-top: 19px;
    padding-bottom: 27px;
}

.header__register {
    background-color: var(--blueDark);
    transition: all 0.5s;
    z-index: 997;
    padding: 20px 0;
    position: absolute;
}

.login .xln_loginText_bottom {
    padding-right: 10px;
    text-align: center;
    padding-top: 16px;
}

.login .xln-textRecordarme-aling {
    position: relative;
    top: 50%;
    left: 0%;
    transform: translate(-100%, -50%);
}

@media (max-width: 1367px) {
    .login {
        height: auto;
    }
}

@media (max-width: 768px) {

    .container {
        padding: 0px !important;

    }

    .login {
        height: auto;
    }

    .xln_content_login {
        width: 100%;
        margin: auto;
    }

    .login__container-content {
        width: 100%;
        background: #f4f4f4;
        padding: 80px;
        height: inherit;
    }

    .login__content-inputs {
        padding-top: 36px;
    }

    .row.xln_section_info .col-md-6 {
        width: 50% !important;
    }

    .row.xln_section_info .col-md-2 {
        width: 20% !important;
    }

    .row.xln_section_info .col-md-10 {
        width: 80% !important;
    }

    .row.xln_section_info .col-md-10 p {
        font-size: 12px;
    }

    button.login__remind-button p {
        font-size: 12px;
    }

}


@media (max-width: 425px) {

    .container {
        padding: 0px !important;

    }

    .login {
        height: auto;
    }

    .xln_content_login {
        width: 100%;
        margin: auto;
    }

    .login__container-content {
        width: 100%;
        background: #f4f4f4;
        padding: 30px;
        height: inherit;
    }

    .login__content-inputs {
        padding-top: 36px;
    }

    .row.xln_section_info .col-md-6 {
        width: 50% !important;
    }

    .row.xln_section_info .col-md-2 {
        width: 20% !important;
    }

    .row.xln_section_info .col-md-10 {
        width: 80% !important;
    }

    .row.xln_section_info .col-md-10 p {
        font-size: 12px;
    }

    button.login__remind-button p {
        font-size: 12px;
    }

}