:root {
    --black: #19191c;
    --blueAlternative: #270bc4;
    --blueDark: #002333;
    --green: #31fb84;
    --neutroText: #8894ab;
    --white: #ffffff;
    --whiteOff: #f4f4f4;
    --blueclaro: #F5F8FA;
    --blueoscuro: #CBD6E2;
  }

.description__evaluation-container {
    height: 75vh;
}

.evaluacion__icono-central {
    background-color: var(--white);
    width: 15%;
    border-radius: 30rem;
    padding-top: 55px;
    padding-bottom: 55px;
}

.container {
    padding-top: 70px;
    padding-bottom: 70px;
}