
/* Gestion de cupos (Disponibles) */
.xlrn__gestion-cupos .header__container.background {
    position: fixed !important;
    z-index: 9;
    width: 100%;
  }
  
  .xlrn__gestion-cupos_blocks {
    position: relative;
    left: 21%;
    width: 75%;
  }
  
  .xlrn__gestion-cupos_content {
    background-color: white;
    border-radius: 1rem;
    border: 2px solid gray;
    height: 300px;
    position: relative;
    top: 30%;
    width: 100%;
  }

  
  
  /* .xlrn__gestion-cupos-title {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 25px;
  } */
  
  /* .xlrn__gestion-cupos-subtitle {
    position: relative;
    top: 110px;
    left: 0px;
    width: 90%;
    margin: auto;
  } */
  
  .gestion__cupos___xln .xlrn__gestion-cupos_blocks {
    position: relative;
    left: 21%;
    width: 78% !important;
  }
  
  .gestion__cupos___xln .gestion__cupos___xln button {
    padding-left: 25px;
    padding-right: 25px;
  }
  
  .gestion__cupos___xln .xln-content-dash {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 11%;
  }
  
  
  /* .xlrn__gestion-cupos .xlrn__gestion-cupos_blocks {
  position: relative;
  left: 21%;
  width: 78%;
  } */
  
/*   .xlrn__gestion-cupos-title img {
    position: relative;
    right: 40px;
    top: 20px;
  } */
  
  .xlrn__gestion-cupos-button-agregar-cupos {
    background-color: var(--green);
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 200px;
    font-weight: bold;
    font-size: 15px;
}
  
  .xlrn__gestion-cupos-button-agregar-cupos:hover {
    background-color: var(--blueAlternative);
    color: var(--white);
  }
  
  .xlrn__gestion-cupos-button {
    background-color: var(--green);
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 200px;
    font-weight: bold;
    font-size: 15px;
}

.xlrn__gestion-cupos-button:hover {
  background-color: #00DB71;
}