.navbar a,
.navbar a:focus {
    padding: 0px 20px 15px 0px;
    margin-top: 10px;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    /* padding: 0px 0 20px 0px; */
    /* font-family: "GTWalsheimPro-Regular";
    font-size: 14px;
    font-weight: 700;
    color: var(--white);
    white-space: nowrap;
    transition: 0.3s ease; */
}

.carrito_nav {
    width: 26px;
}