@font-face {
  font-family: "GTWalsheimPro-Regular";
  src: url("../GTWalsheimPro/GTWalsheimPro-Regular.ttf");
}

@font-face {
  font-family: "GTWalsheimPro-Bold";
  src: url("../GTWalsheimPro/GTWalsheimPro-Bold.ttf");
}

@font-face {
  font-family: "GTWalsheimPro-Medium";
  src: url("../GTWalsheimPro/GTWalsheimPro-Medium.ttf");
}

:root {
  --black: #19191c;
  --blueAlternative: #270bc4;
  --blueDark: #002333;
  --green: #31fb84;
  --neutroText: #8894ab;
  --white: #ffffff;
  --whiteOff: #f4f4f4;
  --blueclaro: #F5F8FA;
  --blueoscuro: #CBD6E2;
  --pearl: #F2F2F2;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--whiteOff);
  font-family: "GTWalsheimPro-Regular";
}


/* Separador */
.xln__separator__subtitle {
  width: 100px;
  height: 8px;
  background: #270bc4;
  border-radius: 10px;
  margin-bottom: 3%;
}

/* Inicio Header */

.burg-toggle {
  border: none;
  background-color: transparent;
  position: relative;
  top: 15px;
  left: 60px;
}

button.burg-toggle i {
  color: #fff;
}

.header__button-list {
  height: 50px;
  width: 100%;
}

.fixed_top {
  top: 0;
  right: 0;
  left: 0;
  background-color: transparent;
}

/* .header__container.background {
position: fixed!important;
z-index: 9;
width: 100%;
} */

/* .header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
  position: absolute;
} */



.header .logo img {
  max-height: 40px;
  margin-right: 400px;
}

.header .logo span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #012970;
  font-family: "GTWalsheimPro-Regular";
  margin-top: 3px;
}

.modal__container {
  position: absolute;
}

.modal-content {
  background-color: var(--blueDark);
  height: 100vh;
  color: var(--white);
}

.header__menu {
  position: relative;
  left: 30px;
  top: 180px;
  width: 50%;
}

.header__menu-lista .link {
  color: var(--white);
}

.header__menu-lista .link:hover {
  color: var(--green);
}

.header__menu-item {
  display: flex;
  font-size: 40px;
  padding: 5px 0px;
}

.header__menu-item:hover {
  position: relative;
  left: 15px;
  color: var(--green);
}

.header__menu-item .header__menu-lista {
  display: none;
}

.header__menu-item:hover .header__menu-lista {
  display: block;
}

.ingresar {
  position: relative;
  left: 105px;
  height: 50px;
  bottom: 40px;
}

.planes {
  position: relative;
  left: 130px;
  height: 50px;
  bottom: 120px;
}

.categoria {
  position: relative;
  left: 50px;
  height: 50px;
  bottom: 270px;
}

.acerca {
  position: relative;
  left: 125px;
  height: 50px;
  bottom: 120px;
}

.header__menu-button {
  background-color: var(--neutroText);
  border: none;
  border-radius: 100px;
  color: var(--white);
  height: 50px;
  left: 60px;
  top: 50px;
  position: relative;
  width: 50px;
}

.background {
  /* background-color: var(--blueDark); */
   position: relative !important;
}

/* Fin de Menu */

/* Inicio Navegacion */



/* .navegacion {
-webkit-column-gap: 2rem;
column-gap: 2rem;
display: flex;
left: 50%;
position: relative;
top: -20px;
width: 40%;
} */

.button__navegacion-user {
  border: none;
  background-color: transparent;
}



.navbar {
  display: flex;
  padding: 10;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "GTWalsheimPro-Regular";
  /* font-size: 14px; */
  font-weight: 700;
  color: var(--white);
  white-space: nowrap;
  transition: 0.3s ease;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: var(--green);
}

.navegacion__button,
.navegacion__button:focus {
  background: var(--green);
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 4px;
  color: var(--black);
  border: none;
  position: fixed;
  text-decoration: none;
}

.navegacion__button:hover,
.navegacion__button:focus:hover {
  color: #fff;
  background: var(--green);
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
  font-weight: 600;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #4154f1;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

/* Navegacion Fin */

/* Banner */



/* Banner Fin */

/* Inicio Carousel */



/* Carousel Fin */

/* Inicio de Enterprise */


/* Enterprise Fin */


/* Mockups Final */

/* Inicio Preguntas y respuestas */


/* Preguntas y respuestas fin */

/* Inicio Footer */

/* Footer Fin */

/* Cursos Screen */

.cursos__section .cursos__card-body img {
  width: 100%;
}





.cursos__filter-buttons h4 {
  border-bottom: 1px solid var(--black);
  margin-bottom: 15px;
  margin-top: 15px;
  width: 28%;
  position: relative;
  left: 0px;
  font-weight: bold;
}

/* .cursos__filter-button {
display: flex;
flex-direction: column;
} */



/* .cursos__card-content h5 {
font-weight: bold;
color: var(--blueDark);
position: relative;
width: 90%;
padding-left: 16px;
padding-right: 16px;
font-size: 15px;
text-align: left;
} */
/* 
.cursos__card-titles {
position: relative;
top: 20px;
}
*/
/* .cursos__card-information {
display: flex;
justify-content: space-around;
column-gap: 5rem;
} */

.cursos__card-logo {
  position: relative;
  left: 25px;
  top: 40px;
  width: 20% !important;
}


.cursos__button-expand {
  border: none;
  background-color: transparent;
  border: 1px solid var(--black);
  font-size: 20px;
  color: var(--blueDark);
  font-weight: bold;
  border-radius: 5px;
  width: 15%;
  position: relative;
  left: 56%;
  bottom: 231px;
}

.cursos__button-expand:hover {
  background-color: var(--green);
  border: none;
  border: 1px solid var(--green);
}


/* Cursos Screen Fin */

/* Login Screen */

/* input:-webkit-autofill,
input:-webkit-autofill:focus {
transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
background-color: transparent !important;
}
.eyePassword {
position: relative;
margin-top: 9px;
right: -13px;
}
.eyePassword img {
width: 25px;
}
.login {
background-color: var(--blueDark);
height: 100vh;
}
.login__container-content {
width: 100%;
}
.login__container {
display: flex;
background-color: var(--white);
width: 60%;
position: relative;
top: 10%;
margin: auto;

}

.login__content-inputs {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: var(--whiteOff);
height: 450px;
}

.login__content-header {
text-align: center;
height: 130px;
padding-left: 45px;
padding-right: 45px;
}

.login__content-form {
display: flex;
flex-direction: column;
width: 100%;
}

.login__register {
border-top: 1px solid var(--black);
position: relative;
top: 10%;
}

.login__register-button {
text-decoration: none;
border: none;
background-color: transparent;
position: relative;
color: var(--blueDark);
font-weight: bold;
}

.login__button-entrar {
border-radius: 5px;
background-color: var(--green);
text-decoration: none;
border: none;
padding: 5px;
width: 80%;
position: relative;
left: 50px;
color: var(--blueDark);
font-weight: bold;
text-align: center;
margin-top: 15%;
}

.login__button-entrar:hover {
color: var(--white);
}

.login__email {
border: none;
text-decoration: none;
border-radius: 5px;
left: 50px;
margin-bottom: 20px;
position: relative;
width: 80%;
padding: 10px;
}

.recuperarcontrasena .login__email, .login__password {
left: 0px;
}
.recuperarcontrasena  .login__button-entrar {
left: 0;
}

.login__password {
border: none;
text-decoration: none;
border-radius: 5px;
left: 50px;
position: relative;
width: 80%;
padding: 10px;
}

.login__content-title {
color: var(--blueDark);
font-weight: bold;
position: relative;
bottom: 50px;
}

.login__content-remind {
display: flex;
position: relative;
column-gap: 6rem;
left: 52px;
font-size: 12px;
}

.login__input-reminder {
position: relative;
top: 0px;
left: 0px;
}

.login__remind-button {
border: none;
/* background-color: var(--whiteOff); 
background-color: #fff0;
padding: 0;
position: relative;
bottom: 0px;
}

.login__header-logo-title {
margin-top: 20px;
}

.login__header-logo-title p {
font-size: 18px;
color: var(--blueDark);
padding-top: 19px;
}

.header__register {
background-color: var(--blueDark);
transition: all 0.5s;
z-index: 997;
padding: 20px 0;
position: absolute;
}

.login .xln_loginText_bottom {
padding-right: 10px;
}

.login .xln-textRecordarme-aling {
position: relative;
top: 50%;
left: 0%;
transform: translate(-100%, -50%);
} */




/* Login Screen Fin */




/*====Fin Bloque contenido====*/


/*====Fin Bloque Footer====*/

/* Empresas section */



.icon-certificado-courses {
  background-color: #002333;
  padding: 3px;
  border-radius: 5px;
  height: -moz-fit-content!important;
  height: fit-content!important;
  width: 40px!important;
}





/* Dashboard Lider */

.dashboard__lider-banner {
  position: relative;
  width: 90%;
  margin: 0 auto;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 17px;
  background-position: center;
}

.dashboard__lider-banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg,
      rgba(0, 35, 51, 1) 0%,
      rgba(0, 35, 51, 0.6814075972185749) 49%,
      rgba(0, 35, 51, 0) 100%);
  z-index: 1;
  border-radius: 17px;
}

.dashboard__lider-banner_image {
  width: 100%;
}

.dashboard__lider-banner_content {
  color: var(--white);
  position: relative;
  left: 10%;
  height: 0px;
  width: 50%;
  top: 30%;
  z-index: 2;
}

.dashboard__lider-banner_content h1 {
  font-weight: bold;
  text-transform: capitalize;
}

.dashboard__lider-banner_content p {
  font-size: 20px;
}

.dashboard__lider-banner_content p span {
  font-weight: bold;
}

.dashboard__lider-container-title {
  font-weight: bold;
  position: relative;
  top: 110px;
  width: 90%;
  margin: auto;
}


.dashboard__lider-container_courses {
  display: flex;
  /* height: 100vh; */
  margin: auto;
  overflow: scroll;
  overflow-y: hidden;
  position: relative;
  top: 29px;
  width: 92%;
  margin-top: 134px;
}


.xln__info_courses .dashboard__lider-container_courses {
  display: flex;
  height: auto;
  margin: auto;
  overflow: scroll;
  overflow-y: hidden;
  position: relative;
  top: 150px;
  width: 90%;
  margin-bottom: 300px;
}

.xln__info_courses .dashboard__lider-container_courses-card-content-body {
  height: 70%;
}

.dashboard__lider-container_courses-card {
  padding: 1%;
  padding-top: 0 !important;
}

li.react-multi-carousel-item.react-multi-carousel-item--active {
  padding-left: 16px;
}

.dashboard__lider-container_courses-card-content {
  background-color: var(--white);
  width: 100%;
  height: 27vh;
  position: relative;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 6px 6px 10px 1px rgb(0 0 0 / 30%);
}

.dashboard__lider-container_courses-card-content h3 {
  font-size: 17px;
  text-align: left;
  font-weight: bold;
  padding-left: 27px;
  padding-right: 27px;
}

.dashboard__lider-container_courses-card-content p {
  text-align: left;
  padding-left: 27px;
  padding-right: 27px;
  position: relative;
  top: 0px;
}

.dashboard__lider-container_courses-card-content-body {
  position: relative;
  top: 36px;
  text-align: center;
  height: 50%;
}

.dashboard__lider-container_courses-card img {
  border-radius: 10px 10px 0px 0px;
}

.img-recomendation-xln {
  width: 100%;
}

.dashboard__lider-container_courses-card-content_button {
  background-color: var(--green);
  border: none;
  color: var(--blueDark);
  font-weight: bold;
  font-size: 16px;
  width: 128px;
  height: 41px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  left: 9%;
}

.dashboard__lider-container-help {
  height: 65vh;
  text-align: center;
}

.dashboard__lider-container-info {
  background-color: var(--white);
  height: 50vh;
  position: relative;
  top: 60px;
}

.dashboard__lider-container-help-content {
  position: relative;
  top: 90px;
  font-weight: bold;
}

.dashboard__lider-container-help-content h1 {
  font-weight: bold;
  color: var(--blueDark);
  margin-bottom: 35px;
}

.dashboard__lider-container-help-content p {
  font-weight: bold;
  margin-bottom: 35px;
}

.dashboard__lider-container-help-content button {
  border: none;
  background-color: var(--green);
  color: var(--blueDark);
  font-weight: bold;
  font-size: 18px;
  width: 128px;
  height: 41px;
  border-radius: 5px;
}

.dashboar__lider-construction-container {
  height: 65vh;
  background-color: var(--blueDark);
}

.dashboar__lider-construction-content {
  height: 45vh;
  color: var(--white);
  text-align: center;
  position: relative;
  top: 70px;
}

.dashboar__lider-construction-content h1 {
  width: 60%;
  position: relative;
  left: 380px;
}

.construccion__image {
  width: 10%;
  border-radius: 100px;
  position: relative;
  top: 50px;
}

.logo_build {
  width: 12%;
  position: relative;
  bottom: 10px;
}

.dashboar__lider-construction-content p {
  font-size: 25px;
}

/* .xlrn__dashboard__lider-course__route {
position: relative;
top: 90px;
height: 40vh;
left: 250px;
width: 80%;
} */

.xlrn__dashboard__lider-course__route-selection {
  display: flex;
  column-gap: 20px;
}

.xlrn__dashborad__lider-container-block {
  overflow: auto;
  overflow-y: hidden;
}

.xlrn__dashboard__lider-course__route {
  position: relative;
  top: 90px;
  height: 40vh;
  width: 90%;
  margin: auto;
  margin-bottom: 7%;
}

.xlrn__dashboard__lider-block-content {
  background: white;
  box-shadow: 6px 6px 10px 1px rgb(0 0 0 / 30%);
  padding: 20px;
  margin-right: 30px;
  margin-bottom: 10px;
}

/*-----estilo scroll bottom---*/


/*-----estilo integrande cursos---*/
.xlrn__dashborad__lider-container-block::-webkit-scrollbar {
  -webkit-appearance: none;
}

.xlrn__dashborad__lider-container-block::-webkit-scrollbar:vertical {
  width: 10px;
}

.xlrn__dashborad__lider-container-block::-webkit-scrollbar-button:increment,
.xlrn__dashborad__lider-container-block::-webkit-scrollbar-button {
  display: none;
}

.xlrn__dashborad__lider-container-block::-webkit-scrollbar:horizontal {
  height: 10px;
}

.xlrn__dashborad__lider-container-block::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.xlrn__dashborad__lider-container-block::-webkit-scrollbar-track {
  border-radius: 10px;
}


/*-----estilo integrande recomendados--*/
.dashboard__lider-container_courses::-webkit-scrollbar {
  -webkit-appearance: none;
}

.dashboard__lider-container_courses::-webkit-scrollbar:vertical {
  width: 10px;
}

.dashboard__lider-container_courses::-webkit-scrollbar-button:increment,
.dashboard__lider-container_courses::-webkit-scrollbar-button {
  display: none;
}

.dashboard__lider-container_courses::-webkit-scrollbar:horizontal {
  height: 10px;
}

.dashboard__lider-container_courses::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.dashboard__lider-container_courses::-webkit-scrollbar-track {
  border-radius: 10px;
}


/*-----fin estilo scroll bottom---*/

.xlrn__dashboard__lider-course__route-selection-input {
  border: none;
  background-color: transparent;
  font-size: 28px;
  color: var(--blueDark);
  font-weight: bold;
}

.xlrn__dashboard__lider-block-button {
  background-color: var(--green);
  border: none;
  border-radius: 5px;
  color: var(--blueDark);
  font-size: 16px;
  height: 41px;
  width: 128px;
  position: absolute;
  bottom: 9px;
  font-weight: bold;
}

.xlrn__dashboard__lider-block-content-titles {
  position: relative;
  top: 10px;
  width: 380px;
  padding-left: 30px;
  padding-right: 30px;
}

.xlrn__dashboard__lider-block-content-titles p {
  color: var(--green);
  font-weight: bold;
}

.xlrn__dashboard__lider-block-content-titles h3 {
  font-weight: bold;
}

.xlrn__dashboard__lider-content-info {
  position: absolute;
  top: 123px;
}

.xlrn__dashboard__lider-block-image {
  height: 205px;
  width: 184px;
  object-fit: cover;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.xlrn__dashboard__lider-content-info h4 {
  font-size: 15px;
  font-weight: bold;
}

.xlrn__dashboard__lider-content-info h4 span {
  font-weight: 100;
}

/* Dashboard Lider Fin */




/* Gestion de cupos (Usuarios) */

.gestion__usuario-section .header__container .background {
  position: fixed !important;
  z-index: 9;
  width: 100%;
  padding: 20px 0px;
  
}

.gestion__usuario-section .dashboard__nav {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  width: 100%;
  height: 100vh;
  position: relative;
  padding-top: 50%;
  padding-left: 5%;
}

.gestion__usuario-container {
  display: flex;
}

.gestion__usuario-navegacion {
  width: 10%;
}

.gestion__usuario-content {
  width: 70%;
  position: relative;
  margin: auto;
  height: 100vh;
}

.gestion__usuario-title {
  color: var(--blueDark);
  font-weight: bold;
  position: relative;
  left: 85px;
  top: 30px;
}

.gestion__usuario-title h1 {
  font-weight: bold;
  color: var(--blueDark);
}

.gestion__usuario-banner {
  background-color: var(--white);
  height: 60vh;
  width: 100%;
  position: relative;
  left: 85px;
  top: 50px;
  border-radius: 5px;
}

.gestion__usuario-banner_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 80px;
}

.gestion__usuario-banner_content h3 {
  font-weight: bold;
  color: var(--blueDark);
}

.gestion__usuario-banner_content p {
  color: var(--blueDark);
  font-size: 20px;
}

.gestion__usuario-banner_button-add {
  background-color: transparent;
  border: 2px solid var(--neutroText);
  border-radius: 200px;
  width: 80px;
  height: 80px;
  font-size: 40px;
  color: var(--neutroText);
}

.gestion__usuario-banner_button {
  background-color: var(--green);
  border: none;
  border-radius: 5px;
  color: var(--blueDark);
  font-weight: bold;
  font-size: 20px;
  position: relative;
  top: 20px;
  text-align: center;
  width: 30%;
}


/* Gestion de cupos (Usuarios) Fin */

/* Gestion de cupos (Disponibles) Fin */



/* Compra de cupos Fin *





/* Creacion de usuario Fin */

/* Informacion de equipos  */
/* .xlrn__crear-usuarios__container {
height: 100vh;
} */

/* .xlrn__informacion-equipos {
  background-color: var(--white);
  height: 610px;
  width: 547px;
  position: relative;
  top: 250px;
} */

/* .xlrn__informacion-equipos-title {
  position: relative;
  top: 130px;
  left: 240px;
  width: 20%;
} */

.xlrn__informacion-equipos-content {
  position: relative;
  width: 100%;
}



.xlrn__informacion-equipos {
  background-color: var(--white);
  height: 610px;
  width: 45%;
  float: left !important;
}

.xlrn__crear-suarios__section .xln-contentNavLeft-block .dashboard__nav {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  width: 100%;
  height: 100vh;
  position: relative;
  padding-top: 50%;
  padding-left: 5%;
}

.xln__content__info_gestionDeCupos {
  display: flex;
}

.xln_info_gestionDeCupos {
  width: 100%;
}

.xln_info_gestionDeCupos ul {
  list-style: none;
  text-align: left;
  padding: 0;
}

.xln_info_gestionDeCupos ul li {
  margin-bottom: 8px;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
}

.xlrn__informacion-equipos_interno {
  background: none;
  height: auto;
  margin: 2%;
}

.xlrn__informacion-equipos_interno .xlrn__informacion-equipos-content {
  position: relative;
  width: 100%;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  height: 55vh;
}

.xln_info_gestionDeCupos ul li:nth-child(even) {
  background: #fff;
}

.xln_info_gestionDeCupos ul li:nth-child(odd) {
  background: #F4F4F4;
}

.progress__bar__style:nth-child(even) {
  background: #F4F4F4;
}

.progress__bar__style:nth-child(odd) {
  background: #fff;
}

.xlrn__informacion-equipos-content h2 {
  font-size: 18px;
  font-weight: bold;
}

.xlrn__informacion-equipos-content_title {
  color: var(--green);
  font-weight: bold;
}

.xlrn__informacion-equipos-content h5 {
  font-size: 14px;
}

.xln_info_gestionDeCupos input {
  width: 100%;
}

.progress__bar__style {
  padding-top: 11px;
  padding-bottom: 19px;
  margin-bottom: 7px;
}

.xlrn__informacion-equipos-content-users {
  padding-top: 15%;
}

/* .xlrn__crear-suarios__section .xlrn__informacion-equipos-title {
  position: absolute;
  left: 26%;
  top: 150px;
  font-weight: bold;
  width: 60%;
  float: left;
} */

.range[type='range'] {
  display: block;
  width: 100%;
}

.range[type='range']:focus {
  outline: none;
}

.range[type='range'],
.range[type='range']::-webkit-slider-runnable-track,
.range[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.range[type=range]::-webkit-slider-thumb {
  background-color: var(--green);
  width: 21px;
  height: 21px;
  border: 3px solid #ddd;
  border-radius: 50%;
  margin-top: -9px;

}

.range[type=range]::-moz-range-thumb {
  background-color: var(--green);
  width: 16px;
  height: 16px;
  border: 3px solid #ddd;
  border-radius: 50%;
}

.range[type=range]::-ms-thumb {
  background-color: var(--green);
  width: 21px;
  height: 21px;
  border: 3px solid #ddd;

  border-radius: 50%;
}

.range[type=range]::-webkit-slider-runnable-track {
  background-color: var(--blueoscuro);
  height: 5px;
  -webkit-appearance: none;
  background-image: linear-gradient(to right, var(--green) calc(var(--value)*1%), var(--blueoscuro) 0);

}

.range[type=range]:focus::-webkit-slider-runnable-track {
  outline: none;
}

.range[type=range]::-moz-range-track {
  -webkit-appearance: none;
  background-image: linear-gradient(to right, var(--green) calc(var(--value)*1%), var(--blueoscuro) 0);

  height: 5px;
}

.range[type=range]::-ms-track {
  background-color: #777;
  border: 1px solid red !important;
  height: 3px;
}



/* .xln__creacion-nuevo-equipo-content {

} */

.xln__creacion-nuevo-equipo-content h2 {
  font-weight: bold;
  color: var(--blueDark);

}

/* Informacion de equipos Fin */



/* -------------- Reproductor de video inicio ---------------*/


/*Reproductor cursos recomendados seccion*/
.video__reproduccion-section .xlrn__infovideoplayer-content {
  height: auto;
  padding-top: 4%;
  padding-bottom: 30%;
}



/*Fin Reproductor cursos recomendados seccion*/

.video__reproduccion-section {
  background-color: var(--blueDark);
  /* height: 150vh; */
}

.video__reproduccion-container-player button {
  background: #fff0;
  border: 0px;
}

.video__reproduccion-container-player {
  /* height: 666px;
width: 95%;
position: relative;
margin: auto; */
  display: flex;
  padding-bottom: 3%;
}

.xln_player_course {
  width: 100%;
  float: left;
  height: auto;
}

.xln__content__rutaClick {
  margin-top: 8px;
  position: relative;
  top: 10px;
}

.xln__content__rutaClick button:hover {
  border-color: #f8f9fa00;
  background-color: #f8f9fa00;
  box-shadow: #f8f9fa00;
}

h3.xlnIcon__couser__ruta {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid #fff;
  font-size: 17px;
  padding-top: 5px;
  color: #fff;
}

h3.xlnIcon__couser__ruta_completed {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid #fff;
  font-size: 17px;
  padding-top: 5px;
  color: rgb(0, 0, 0);
  background-color: #03ff84;
}

h3.xlnIcon__couser__ruta_completed::before {
  content: '';
  position: absolute;
  top: -23px;
  left: 0;
  right: 0;
  height: 22px;
  background-color: #31fb84;
  width: 4px;
  margin: auto;
}

h3.xlnIcon__couser__ruta::before {
  content: '';
  position: absolute;
  top: -23px;
  left: 0;
  right: 0;
  height: 31px;
  background-color: #fff;
  width: 4px;
  margin: auto;
}
.xlnIcon__couser__ruta_initiated::before {
  content: '';
  position: absolute;
  top: -23px;
  left: 0;
  right: 0;
  height: 31px;
  background-color: #5b5b5b;
  width: 4px;
  margin: auto;
}

h3.xlnIcon__couser__ruta_initiated {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid #03ff84;
  font-size: 17px;
  padding-top: 5px;
  color: #03ff84;
}

.xlnMenu__icon__player img {
  width: 60px;
  position: relative;
  left: -8px;
}

.xln-btn-couseExamen img {
  width: 60px;
  position: relative;
  left: -12px;
}


.xlnMenu__icon__player p {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.videoplayer__image {
  height: 666px;
  width: 1156px;
  border-radius: 10px;
}

.videoplayer__playbutton {
  position: relative;
  bottom: 390px;
  left: 520px;
  width: 8%;
}

.video__reproduccion-content {
  color: var(--white);
  padding-bottom: 100px;
  top: 50px;
  width: 95%;
  margin: auto;
  position: relative;
}

.video__reproduccion-content h2 {
  font-weight: bold;
  width: 70%;
  float: left;
}

.video__reproduccion-content button {
  border: 1px solid var(--white);
  background-color: transparent;
  color: var(--white);
  width: 128px;
  height: 41px;
  border-radius: 5px;
}

.chatbox__container {
  background-color: var(--white);
  color: var(--blueDark);
  font-weight: 700;
  width: 20%;
  height: 50vh;
  position: relative;
  left: 150px;
  border-radius: 10px;
}

.chatbox__container h1 {
  font-weight: bold;
  width: 70%;
  font-size: 20px;
}

.chatbox__container-content {
  position: relative;
  left: 90px;
  top: 70px;
}

.logo__contruccion-chat {
  width: 30%;
}

/* Reproductor de video Fin */

/* InfoPlayer Component Inicio Fin*/
.xlnPlayer__content__proyectos {
  width: 70%;
  margin: auto;
}

.proyectos__text {
  width: 60%;
  float: left;
  padding: 20px;
}

.proyectos__img {
  width: 30%;
  float: left;
  padding: 20px;
}

.proyectos__img h3 {
  font-weight: bold;
  padding: 10px;
}

.xlrn__infovideoplayer-content {
  height: auto;
  padding-top: 4%;
}

.xlrn__infovideoplayer-content-users {
  width: 70%;
  height: auto;
  display: flex;
  margin: auto;
  /* background-color: var(--pearl) ; */
}

.xln__internos__CursosRecomendadosPlayer {
  width: 78%;
  margin: auto;
}

.xlrn__infovideo-nav-container-buttons input {
  background: none;
  width: 100px;
  border: none;
  font-weight: bold;
  z-index: 99;
}

.xlrn__infovideo-nav-container-buttons input:hover {
  border-bottom: 4px solid var(--blueAlternative);
  color: var(--blueAlternative);
}

.xlrn__infovideo-nav {
  background-color: var(--whiteOff);
  height: 15vh;
}

.xlrn__infovideoplayer-container-content {
  background-color: var(--white);
}


/* Contact section */



/* Responsive */

@media (max-width: 1440px) {

  /* Header inicio */
  /* Header fin */
  /* Navegacion */
  /* .navegacion {
left: 690px;
} */

  /* Navegacion Fin */
  /* Banner */
  /* .banner {
height: 810px;
} */
  /* .carousel-indicators {
left: 380px;
width: 55%;
} */
  /* .banner .carousel-indicators [data-bs-target] {
width: 25%;
} */
  /* .content__banner-info {
bottom: 630px;
left: 745px;
} */
  .content__banner-info span {
    font-size: 35.6px;
  }

  /* .slides {
bottom: 630px;
left: 745px;
gap: 1.8rem;
} */
  .slides__content {
    width: 35%;
  }

  .slides p {
    margin-right: 12px;
  }

  /*   .banner__carousel-prev {
top: 155px;
left: 1135px;
} */

  /* .banner__carousel-next {
top: 155px;
right: 130px;
} */

  /* Banner Final */
  /* Carousel */
  .carousel__section-content {
    width: 100%;
  }

  /* .carousel__container {
left: 290px;
} */
  /* .carousel__lista {
left: 420px;
width: 100%;
} */
  /* .carousel__section-content h1 {
left: 298px;
} */

  /* Carousel Fin */
  /* Enterprise */


  /* .enterprise__carousel-content {
bottom:650px;
width: 80%;
} */

  /* .enterprise .carousel-indicators [data-bs-target] {
right: 295px;
} */

  /* .enterprise__carousel-prev {
top: 231px;
left: 630px;
} */

  /* .enterprise__carousel-next {
top: 231px;
right: 566px;
} */

  /* Enterprise Fin */
  /* Mockups */
  /* .mockups__platform {
height: 60vh;
} */
  /* .mockups__content {
left: 100px;
top: 20px;
} */




  /* Mockups Fin */
  /* Preguntas Frecuentes */
  /* .preguntas__carousel-slides {
    width: 80%;
  }

  .preguntas__carousel-image {
    width: 100%;
  } */

  /* .preguntas__slides-content {
bottom: 170px;
left: 420px;
} */
  /* .preguntas__slides-content_info {
    font-size: 20px;
  }
 */
  /* .preguntas__carousel-prev {
left: 550px;
} */

  /* .preguntas__carousel-next {
right: 490px;
} */

  /* Preguntas Frecuentes Fin */
  /* Footer Inicio */
  .footer__container {
    /* left: 80px; */
    width: 90%;
  }

  /* Footer Fin */

  /* Login Screen */
  .login__container {
    left: 260px;
    width: 66%;
  }

  /* Login Screen fin */
}

@media (max-width: 1366px) {
  /* .navegacion {
right: 160px;
} */

  /* Banner */
  /* .content__banner-info {
font-size: 15px;
position: relative;
} */
  .content__banner-info h1 {
    font-size: 29px;
  }

  /* .slides {
left: 724px;
width: 40%;
bottom: 170px;
} */
  .slides p {
    font-size: 10px;
    margin-right: 4px;
  }

  /*   .banner__carousel-prev {
left: 1043px;
top: 270px;
font-size: 2.5rem;
} */

  /* .banner__carousel-next {
top: 270px;
right: 130px;
font-size: 2.5rem;
} */

  /* .carousel-indicators {
bottom: 150px;
} */
  .content__banner-button {
    position: relative;
    top: -50px;
  }

  /* BannerFin */
  /* Carousel Inicio */
  .carousel__section-content {
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .carousel__section-content h1 {
    left: 0px;
  }

  /* .carousel__lista {
left: 140px;
} */
  .carousel__lista button {
    font-size: 14px;
  }

  /* .carousel__container {
left: 170px;
} */
  /* Carousel Fin */
  /* Enterprise Inicio */
  /* .enterprise__carousel-content {
left: 50px;
width: 50%;
bottom: 600px;
} */

  /* .enterprise__carousel-prev {
left: 400px;
top: 200px;
} */

  /* .enterprise__carousel-next {
top: 200px;
right: 370px;
} */

  /* .enterprise .carousel-indicators [data-bs-target] {
right: 308px;
top: 155px;
} */

  /* Enterprise Fin */
  /* Mockups Inicio */
  /* .mockups__content {
left: 70px;
top: 0px;
} */


  /* Mockups Fin */
  /* Preguntas Inicio */
  /* .preguntas__carousel {
left: -60px;
} */
  /* .preguntas__carousel-slides {
    width: 78%;
  }

  .preguntas__carousel-image {
    width: 100%;
  } */

  /*  .preguntas__slides-content {
bottom: 190px;
left: 390px;
} */
  /* .preguntas__slides-content h4 {
    font-size: 16px;
  }

  .preguntas__comillas {
    font-size: 5rem !important;
  }

  .preguntas__slides-content p {
    font-size: 14px;
  } */

  /* .preguntas__carousel-prev {
left: 440px;
} */

  /* .preguntas__carousel-next {
right: 340px;
} */

  /* Preguntas Fin */
  /* Footer Inicio */

  .footer__option {
    left: 115px;
  }

  /*-------Login---------*/
  .login {
    height: 900px;
  }

  .Login-Screen {
    height: 100vh !important;
    position: absolute;
    width: 100%;
  }

  .login__container {
    top: 15%;
    left: 0;
    width: 66%;
    margin: auto;
  }

  .login__container-content {
    width: 100%;
  }

  .login__header-logo-title a {
    top: 10px;
    position: relative;
  }

  .login__header-logo-title p {
    font-size: 14px;
    top: 30px;
    position: relative;
  }

  .login__content-remind {
    display: flex;
    position: relative;
    column-gap: 5rem;
    margin: auto;
    left: 0;
  }

  .d-flex.login__content-remind p {
    font-size: 12px;
  }

  .d-flex.login__content-remind .login__remind-button {
    font-size: 12px;
  }

  /* .login__input-reminder {
left: 0;
top: 17px;
} */
  .login .login__register {
    border-top: 0px solid var(--black);
    top: 60px;
  }
}

@media (max-width: 1024px) {
  /* .header__logo {
    left: 70px;
  } */

  /* .navegacion {
right: 160px;
} */

  /* Banner */
  /* .content__banner-info {
font-size: 15px;
position: relative;
right: 58px;
bottom: 40px;
} */
  .content__banner-info h1 {
    font-size: 29px;
  }

  /* .slides {
left: 535px;
width: 40%;
bottom: 170px;
} */
  .slides p {
    font-size: 10px;
    margin-right: 4px;
  }

  /*   .banner__carousel-prev {
left: 738px;
top: 270px;
font-size: 2.5rem;
} */

  /* .banner__carousel-next {
top: 270px;
right: 130px;
font-size: 2.5rem;
} */

  /* .carousel-indicators {
bottom: 150px;
} */
  .content__banner-button {
    position: relative;
    top: -50px;
  }

  /* BannerFin */
  /* Carousel Inicio */
  .carousel__section-content {
    width: 83%;
  }

  .carousel__section-content h1 {
    left: 160px;
  }

  /* .carousel__lista {
left: 140px;
} */
  .carousel__lista button {
    font-size: 14px;
  }

  /* .carousel__container {
left: 170px;
} */
  /* Carousel Fin */
  /* Enterprise Inicio */
  /* .enterprise__carousel-content {
left: 50px;
width: 50%;
bottom: 320px;
} */

  /* .enterprise__carousel-prev {
left: 400px;
top: 200px;
} */

  /* .enterprise__carousel-next {
top: 200px;
right: 370px;
} */

  /* .enterprise .carousel-indicators [data-bs-target] {
right: 308px;
top: 155px;
} */

  /* Enterprise Fin */
  /* Mockups Inicio */
  /* .mockups__content {
left: 70px;
top: 30px;
} */


  /* Mockups Fin */
  /* Preguntas Inicio */
  /* .preguntas__carousel {
left: -60px;
} */
 /*  .preguntas__carousel-slides {
    width: 78%;
  }

  .preguntas__carousel-image {
    width: 100%;
  } */

  /* .preguntas__slides-content {
bottom: 190px;
left: 390px;
} */
 /*  .preguntas__slides-content h4 {
    font-size: 16px;
  }

  .preguntas__comillas {
    font-size: 5rem !important;
  }

  .preguntas__slides-content p {
    font-size: 14px;
  } */

  /* .preguntas__carousel-prev {
left: 440px;
} */

  /* .preguntas__carousel-next {
right: 340px;
} */

  /* Preguntas Fin */
  /* Footer Inicio */
  /* .footer {
height: 45vh;
} */

  .footer__option {
    left: 115px;
  }
}

@media (max-width: 768px) {
  .carousel__section-content h1 {
    width: 100%;
    font-size: 20px;
    text-align: center;
    left: 0;
    padding-top: 10%;
    padding-bottom: 10%;
    width: 90%;
    margin: auto;
    font-weight: bold;
  }

  /*login*/
  .xln-contentImage-login {
    display: none;
  }

  /* Header */
  /* .header__logo {
    top: 20px;
  } */

  /* Header Fin */

  /* Navegacion */
  /* .navegacion {
    column-gap: 10px;
  }

  .navbar a {
    font-size: 12px;
    padding: 10px 0px 10px 19px;
  } */

  /* Navegacion Fin */
  /* Banner */

  .content__banner-block p {
    font-size: 12px;
  }

  /* .content__banner-info {
font-size: 15px;
position: relative;
right: 88px;
bottom: 60px;
} */
  .content__banner-info h1 {
    font-size: 15px;
    position: relative;
    bottom: 10px;
  }

  .content__banner-info p {
    margin-top: 10px;
  }

  /* .slides {
left: 398px;
width: 33%;
bottom: 170px;
} */
  .slides p {
    font-size: 10px;
    margin-right: 4px;
  }

  /*   .banner__carousel-prev {
left: 550px;
top: 202px;
font-size: 2rem;
} */

  /* .banner__carousel-next {
top: 202px;
right: 100px;
font-size: 2rem;
} */

  /* .carousel-indicators {
bottom: 150px;
} */
  /* Banner Fin */
  /* Carousel Inicio */
  .carousel__section-content {
    width: 100%;
  }

  .carousel__section-content h1 {
    left: 80px;
  }

  .carousel__container {
    width: 100%;
  }

  .carousel__section-content h1 {
    width: 100%;
    font-size: 20px;
    text-align: center;
    left: 0;
    padding-top: 10%;
    padding-bottom: 10%;
    width: 90%;
    margin: auto;
    font-weight: bold;
  }

  /* .carousel__lista {
left: 40px;
} */
  .carousel__lista button {
    font-size: 10px;
    column-gap: 1rem;
  }

  /* .carousel__container {
left: 70px;
} */
  .carousel__image {
    height: 10vh;
  }

  .carousel__title {
    font-size: 10px;
  }

  /* Carousel Fin */
  /* Enterprise Inicio */


  /* .enterprise__carousel-content {
bottom: 350px;
} */

  /* .enterprise__carousel-prev {
top: 160px;
left: 300px;
} */

  /* .enterprise__carousel-next {
top: 160px;
right: 250px;
} */

  /* .enterprise .carousel-indicators [data-bs-target] {
right: 210px;
top: 140px;
} */

  /* Enterprise Fin */
  /* Mockups Inicio */


  /* .mockups__content {
left: 49px;
} */




  /* Mockups Fin */
  /* Preguntas Inicio */
  /* .preguntas__slides-content {
left: 280px;
bottom: 150px;
} */
  /* .preguntas__slides-content h4 {
    font-size: 12px;
  }

  .preguntas__slides-content p {
    font-size: 10px;
  } */

  /* .preguntas__carousel {
left: -140px;
} */
  /* .preguntas__carousel-prev {
left: 400px;
} */

  /* .preguntas__carousel-next {
right: 150px;
} */

  /* Preguntas Fin */
  /* Footer Inicio*/
  .footer__container {
    left: 45px;
  }

  .footer__logo-info {
    font-size: 9px;
  }

  .footer__group {
    font-size: 15px;
  }

  .footer__group h5 {
    font-size: 13px;
  }

  .footer__option {
    column-gap: 2rem;
    left: 30px;
  }

  /* Footer Fin*/

  /*Estilos ventana registro*/
  /* .navegacion {
display: inline-flex;
column-gap: normal;
left: 32%;
width: 59%;
position: relative;
top: 0px;
}

.planes__form-container {
background-color: var(--blueAlternative);
border-radius: 5px;
color: var(--white);
position: absolute;
left: 0;
top: 130%;
height: auto;
width: 100%;
padding: 5%;
padding-top: 2%;
padding-bottom: 6%;
}

.planes__register-option {
height: 50vh;
position: relative;
left: 0px;
width: 100%;
padding-left: 10%;
padding-right: 10%;
} */

  /* .planes__register-container_option {
height: 190vh;
} */

  /* .planes__container-about {
background-color: var(--white);
height: 30vh;
}

.planes__formulario-button {
left: 25%;
} */

  /*Fin Estilos ventana registro*/
}

@media (max-width: 425px) {



  /* Header Inicio */
  .header {
    padding: 5px;
  }

  /* .header__logo {
    position: relative;
    top: 0px;
    left: 12px;
    width: 15%;
  } */

  /* Header Fin */
  /* Navegacion */
  .burg-toggle {
    padding: 15px 0px;
  }

  /* .navbar {
    display: none;
  } */

  /* .navegacion__button {
    padding: 4px 12px;
    top: 15px;
    right: 90px;
    padding: 0px 8px;
    font-size: 15px;
  } */

  /* Navegacion Final */
  /* Banner */
  /* .content__banner {
display: flex;
flex-direction: column;
top: 90px;
} */
  .content__banner-block {
    display: none;
  }

  .slides {
    display: none;
  }

  .banner .carousel-indicators {
    display: none;
  }

  .banner__content-button_image {
    width: 15%;
  }

  .content__banner-button {
    position: relative;
    top: -48px;
    left: -70px;
  }

  .content__banner-button p {
    position: relative;
    bottom: 25px;
    left: -10px;
  }

  /* .content__banner-info {
position: relative;
right: 60px;
bottom: 88px;
font-size: 15px;
} */
  .content__banner-info h1 {
    font-size: 10px;
  }

  .content__banner-info p {
    font-size: 10px;
  }

  .content__banner-info_block h3 {
    font-size: 10px;
    margin-top: 8px;
  }

  /* 
.banner__carousel-prev {
left: 160px;
width: 80%;
height: 20%;
top: 102px;
}
*/
  /* .banner__carousel-next {
right: 165px;
width: 80%;
height: 20%;
top: 102px;
} */

  /* Banner Fin*/
  /* Carousel Inicio */
  /* .carousel__section-content {
width: 100%;
}

.carousel__section-content h1 {
left: 40px;
} */

  /* .carousel__lista {
left: 20px;
display: flex;
flex-flow: wrap;
column-gap: 0rem;
}

.carousel__lista button {
font-size: 11px;
}

.carousel__title {
font-size: 9px;
}
*/
  /* Carousel Fin */
  /* Enterprise Inicio */


  /* .enterprise__carousel-content {
bottom: 220px;
} */

  /* .enterprise__carousel-content_title,
.enterprise__carousel-content_subtitle {
font-size: 15px;
} */

  /* .enterprise__carousel-content_info {
font-size: 10px;
} */

  /* .enterprise__carousel-prev,
.enterprise__carousel-next {
display: none;
} */

  /* .enterprise .carousel-indicators [data-bs-target] {
right: 110px;
} */

  /* Enterprise Fin */
  /* Mockups */


  /* .mockups__content {
width: 90%;
text-align: center;
} */


  /* Mockups Final */
  /* Inicio Preguntas Frecuentes */
  /* .preguntas__carousel-image {
    position: relative;
    width: 65%;
    left: 70px;
  }

  .preguntas__carousel-prev,
  .preguntas__carousel-next {
    display: none;
  }

  .preguntas__carousel-slides {
    width: 90%;
  } */

  /* .preguntas__content-box {
position: relative;
top: 170px;
left: -230px;
} */
  /* .preguntas__slides-content p {
    font-size: 12px;
  }

  .preguntas__button {
    display: none;
  } */

  /* Preguntas Frecuentes Final */
  /* .footer {
height: 55vh;
} */

  .footer__container {
    left: 25px;
  }

  /*  .footer__content {
flex-direction: column;
} */

  /* .footer__logo-info_title {
font-size: 12px;
position: relative;
left: 60px;
width: 80%;
top: -14px;
}
*/
  /* .footer__image-email {
left: 260px;
width: 20%;
position: relative;
bottom: 255px;
} */

  .footer__media-content {
    flex-flow: wrap;
  }

  .footer__media-links {
    column-gap: 1rem;
  }

  /*----------------- Login ---------------*/

  .xln-contentImage-login {
    display: none;
  }

  .login {
    height: 100vh;
  }

  .login__container {
    top: 0 !important;
    width: 100% !important;
    height: 100vh;
  }

  .login__input-reminder {
    position: relative;
    top: 0;
    left: 0;
  }

  .login__content-remind {
    column-gap: 3rem;
  }

  .xln-textRecordarme-aling {
    transform: translate(-50%, -50%) !important;
  }

  .login__remind-button {
    bottom: 0px;
  }

  /* .login__email {
border: none;
text-decoration: none;
border-radius: 5px;
margin-bottom: 20px;
width: 80%;
padding: 10px;
position: relative;
left: 50%;
transform: translate(-50%, -50%);
}
*/
  /* .login__password {
border: none;
text-decoration: none;
border-radius: 5px;
width: 80%;
padding: 10px;
position: relative;
left: 50%;
transform: translate(-50%, -50%);
} */

  .login__content-inputs {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    background-color: var(--whiteOff);
    height: 100%;
    padding-top: 30%;
  }

  /*Estilos ventana registro*/
  /* .planes__register-about {
left: 10%;
position: relative;
top: 42px;
width: 80%;
} */

  .planes__form-container {
    padding-bottom: 17%;
  }

  /*Fin Estilos ventana registro*/
}

/* Responsive Fin */



.modal-backdrop {
  z-index: 8;
}


.politicas__privacidad-container {
  width: 70%;
  margin: auto;
  padding-top: 10%;
  padding-bottom: 10%;
}

.order {
  display: flex;
  align-items: center;
  justify-content: center;
}

.order img {
  width: 35%;
}

/* .btn-close {
  box-sizing: content-box;
  width: 1em;
  filter: invert(1.4)!important;
  height: 1em;
  padding: 0.25em 0.25em;
  color: #fff!important;
  background: transparent url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e) center/1em auto no-repeat;
  border: 0;
  border-radius: 0.25rem;
  opacity: 1;
} */


