:root {
    --black: #19191c;
    --blueAlternative: #270bc4;
    --blueDark: #002333;
    --green: #31fb84;
    --neutroText: #8894ab;
    --white: #ffffff;
    --whiteOff: #f4f4f4;
    --blueclaro: #F5F8FA;
    --blueoscuro: #CBD6E2;
    --pearl: #F2F2F2;
  }

/* #background {
    background-color: var(--blueDark);
} */

#button {
    background-color: var(--green);
    width: 120px;
    border: none;
}

#link {
    color: var(--white);
    font-size: 14px;
    padding-left: 18px;
    padding-right: 18px;
}

#link:hover {
    color: var(--green);
}

#link:focus {
    color: var(--green);
}

#cart-icon {
    width: 30px;
    height: 30px;
}

#user-icon {
    width: 30px;
    height: 30px;
}

#burg-toogle {
    rotate: 90deg;
    border: 0px solid #002333;
    top: 5px;
    position: relative;
}
#burg-toogle:hover {
    color: #31fb84;
    background-color: #002333!important;
    border-color: #002333!important;
}

.video_reproduccion-section nav.header_container.background.navbar.navbar-expand-lg.navbar-dark{
    position: fixed!important;
    width: 100% !important;
    z-index: 9 !important;
  }