.advanced-form{
    padding: 5px;
}

body pre {
    background: #838080;
}

.public-DraftStyleDefault-block{
    color: black;
}

.no-comDiv{
    color: white;
}

.replySection .replyBtn{
    display: none;
}