:root {
    --black: #19191c;
    --blueAlternative: #270bc4;
    --blueDark: #002333;
    --green: #31fb84;
    --neutroText: #8894ab;
    --white: #ffffff;
    --whiteOff: #f4f4f4;
    --blueclaro: #F5F8FA;
    --blueoscuro: #CBD6E2;
    --pearl: #F2F2F2;
}


.dashboard__nav-link {
    position: relative;
    left: 5px;
    top: 25px;
    padding: 10px;
    width: 100%;
    text-decoration: none;
    color: var(--neutroText);
  }
  
  .dashboard__nav-link:focus {
    color: var(--green);
  }

/*====Bloque Nav left====*/
.xln-contentNavLeft-block {
    width: 20%;
    height: 100vh;
    float: left;
    position: fixed;
    z-index: 1;
  }
  
  .xln-contentNavLeft-block .dashboard__navegacion-container {
    width: 100%;
  }
  
  .xln-contentNavLeft-block .dashboard__nav {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    width: 100%;
    height: 90vh;
    position: relative;
    padding-top: 25%;
    padding-left: 5%;
  }
  
  /*====Fin Bloque Nav left====*/