:root {
    --black: #19191c;
    --blueAlternative: #270bc4;
    --blueDark: #002333;
    --green: #31fb84;
    --neutroText: #8894ab;
    --white: #ffffff;
    --whiteOff: #f4f4f4;
    --blueclaro: #F5F8FA;
    --blueoscuro: #CBD6E2;
    --pearl: #F2F2F2;
}


.consultor__button {
    border: none;
    background-color: transparent;
    font-weight: bold;
    color: var(--blueDark);
}

.container__buttons {
    width: 200px;
    height: 30px;
    text-align: center;
}

.about__tutor-image {
    height: 50px;
    width: 50px;
}
.border-end {
    padding-right: 4%;
}
.description__infovideoplayer-content {
    background-color: var(--pearl);
    height: auto;
    padding-bottom: 3%;
}

.icon_manageSearch {
    width: 30px;
}

.icon_arrowFront {
    height: 20px;
    width: 30px;
}

.robot__icon {
    margin-left: 20px;
    height: 190px;
    width: 130px;
    cursor:pointer;
}

.zipFile {
    width: 20%;
}

html{
    background-color: var(--white);
}