.Login-Screen_forgotPassword {
    height: 100vh !important;
    position: relative;
    width: 100%;
    background: var(--blueDark);
}

.recuperar-contrasena {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    left: 50%;
}

/* olvidaste tu contraseña*/

.Login-Screen_forgotPassword .login__email {
    border: none;
    text-decoration: none;
    border-radius: 5px;
    left: 0;
    margin-bottom: 5%;
    position: relative;
    width: 100%;
    padding: 10px;
}

.Login-Screen_forgotPassword .login__button-entrar {
    border-radius: 5px;
    background-color: var(--green);
    text-decoration: none;
    border: none;
    padding: 5px;
    width: 100%;
    position: relative;
    left: 0;
    color: var(--blueDark);
    font-weight: bold;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 8%;
}

/* .Login-Screen_forgotPassword .login__content-inputs {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: var(--whiteOff);
height: auto;
} */
.Login-Screen_forgotPassword .login__container {
    position: absolute;
    top: 23%;
    left: 27%;
    margin: -25px 0 0 -25px;
}

.Login-Screen_forgotPassword .title_contrasena_olvido {
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 33px;
    padding-bottom: 3%;
    font-weight: bold;
}

.xln__text_Forgot_description {
    text-align: center;
}


@media (max-width: 1367px) {}

@media (max-width: 768px) {}

@media (max-width: 552px) {}